<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title and page.title != "" %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon.jpg">
  </head>

  <body>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="https://github.com/stephengrier/www.stephengrier.com">Source</a>
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="{{ site.baseurl }}/search" aria-label="Search"><i class="fa fa-search" aria-hidden="true" title="Search"></i></a>
              <a href="{{ site.baseurl }}/feed.xml" aria-label="RSS Feed"><i class="fa fa-rss" aria-hidden="true" title="RSS Feed"></i></a>
              <a href="https://github.com/{{ site.footer-links.github }}" aria-label="Visit {{ site.name }} on GitHub"><i class="fa fa-github" aria-hidden="true" title="Visit {{ site.name }} on GitHub"></i></a>
              <a href="https://www.twitter.com/{{ site.footer-links.twitter }}" aria-label="Visit {{ site.name }} on Twitter"><i class="fa fa-twitter" aria-hidden="true" title="Visit {{ site.name }} on Twitter"></i></a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          {{ content }}
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
